
.container-fluid {
    height: 90%;
    /* background-color: #7678ED; */
    width: 80%;
}

.rc-column {
    height: 100%;
    background-color: #7678ED;
    box-shadow: 3px 0px 3px 0 rgba(0,0,0,.16);

}

.lc-column {
    height: 100%;

}
.button {
  
  display: block;
    overflow: hidden;
  
    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    
    background-color: #7678ed;
    color: #ecf0f1;
    
    transition: background-color .3s;
  }
  
  .button:hover, .button:focus {
    background-color: #F7B801;
  }
  
 
  .button span {
    display: block;

    padding: 6px 12px;
    font-size: 1rem;
  font-weight: bold;
  }
  
  .button:before {
    content: "";
  
    
      
    border-radius: 100%;
    
    background-color: rgba(236, 240, 241, .3);
    
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  .button:active:before {
    
    transition: width .2s ease-out, padding-top .2s ease-out;
  }
  
  
  